#option-autoload-manager-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#option-autoload-manager-modal-loader {
    position: absolute;
}

/* Switch CSS */
.oam-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.oam-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.oam-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.oam-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .oam-slider {
  background-color: #4CAF50;
}

input:checked + .oam-slider:before {
  transform: translateX(20px);
}

/*Button Design*/
.oam-filter-buttons {
    text-align: left;
    margin-bottom: 20px;
}

.oam-filter {
    background-color: #0073aa; /* WordPress Blue */
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.oam-filter:hover {
    background-color: #005d8a; /* Darker blue on hover */
    transform: translateY(-2px);
}

.oam-filter:active {
    background-color: #004166; /* Even darker blue on click */
    transform: translateY(0);
}

.oam-filter:focus {
    outline: none; /* Remove focus outline */
}

.oam-filter.active {
    background-color: #ffb900; /* WordPress Yellow */
    color: #333;
}
.oam-bulk-update {
    margin-bottom: 10px;
}

.oem-search-fleld{
    margin-bottom: 10px;
}
.oem-search-fleld input{
    margin-left: 10px;
}

/* Optional: Add media queries for responsive design */
@media (max-width: 600px) {
    .oam-filter {
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
    }
}
