#options-autoload-manager_tabs {
}
#options-autoload-manager_tabs ul {
    display: inline-flex;
    gap: 20px;
}
#options-autoload-manager_tabs ul li {
    border-bottom: 2px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#options-autoload-manager_tabs ul li.active {
    border-bottom: 2px solid #448bff;
}
#options-autoload-manager_tabs a {
    text-decoration: none;
}
#options-autoload-manager_help .options-autoload-manager-help-tab {
    display: grid;
    grid-template-columns: 5fr 1fr;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.options-autoload-manager-documentation {
    padding-left: 20px;
    padding-right: 20px;
}
.options-autoload-manager-help-heading a {
    text-decoration: none;
}
.options-autoload-manager-help-heading a .dashicons {
    margin-right: 5px;
}
#options-autoload-manager_help .options-autoload-manager-help-link {
    display: block;
    text-decoration: none;
    background: #fff;
    text-align: center;
    width: 200px;
    margin: 10px 0;
    padding: 17px;
    border-radius: 5px;
    font-size: 17px;
    color: #4256b2;
    border: 1px solid #4256b2;
    margin-bottom: 20px;
    transition: .4s;
}
#options-autoload-manager_help .options-autoload-manager-help-link:hover {
    background: #4256b2;
    color: #fff;
}
#options-autoload-manager-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#options-autoload-manager-modal-loader {
    position: absolute;
}
#cx-row-options-autoload-manager_tools-report .cx-field-wrap {
	position: relative;
}
#options-autoload-manager_report-copy {
    position: absolute;
    padding: 3px;
    line-height: 0px;
    right: 10px;
    bottom: 20px;
}
#cx-posts {
    list-style: inside;
}
.options-autoload-manager_loader {
    text-align: center;
}