#option-autoload-manager-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#option-autoload-manager-modal-loader {
    position: absolute;
}

.oam-submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 8px;

}

.oam-submit-button:hover {
    background-color: #45a049; /* Darker green */
}

.oam-submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Switch CSS */
.oam-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.oam-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.oam-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.oam-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .oam-slider {
  background-color: #4CAF50;
}

input:checked + .oam-slider:before {
  transform: translateX(20px);
}
